a[href*="contact"] {
  color: #d87639;
}

body {
  margin: 0;
  background: url("../images/baniere.jpg") no-repeat center / cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  font-size: clamp(1rem, 1.1vw, 2rem);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-form {
  /* margin: 15rem 10rem 0; */
  /* display: flex; */
  flex: 1 0 auto;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 5px #fff;
  color: whitesmoke;
}

/* #main-form form {
  width: 50%;
} */

form input[type="text"],
textarea {
  outline: none;
  padding: 0.8rem;
  margin-bottom: 2.5rem;
  border-radius: 3px;
  border: 0;
}

form input[type="text"] {
  width: 85%;
  padding: 1.3rem;
}

textarea {
  font-size: clamp(1rem, 0.7vw, 2rem);
  resize: none;
  max-width: 88%;
}

form input[type="submit"] {
  margin: 0 auto;
  display: block;
  border: none;
  box-shadow: inset 0px 1px 0px 0px #9c2e24;
  background: linear-gradient(
    to bottom,
    hsl(5, 56%, 52%) 5%,
    hsl(5, 57%, 30%) 100%
  );
  background-color: hsl(5, 56%, 52%);
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  font-size: clamp(1rem, 0.5vw, 2rem);
  padding: 0.8rem 3rem;
  text-shadow: 0px 1px 0px #b23e35;
}

form input[type="submit"]:hover {
  background: linear-gradient(
    to bottom,
    hsl(5, 57%, 30%) 5%,
    hsl(5, 56%, 52%) 100%
  );
  background-color: hsl(5, 57%, 30%);
}

form input[type="submit"]:active {
  position: relative;
  top: 1px;
}

::placeholder {
  font-size: clamp(1rem, 0.9vw, 2rem);
  color: rgb(153, 149, 149);
}

.mail-info {
  width: 50%;
  margin-bottom: 7rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 1.4vw, 2rem);
  text-shadow: 1px 1px 2px hsl(5, 57%, 20%);
}

.mail-info h2 {
  text-decoration: underline hsl(5, 57%, 35%) 3px;
  text-underline-offset: 0.4rem;
  text-shadow: 1px 1px 2px hsl(5, 57%, 20%);
}

.mail-info a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px hsl(5, 57%, 20%);
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: 700;
}

/*----------- FOOTER ------------ */

footer {
  color: white;
  text-shadow: 0px 0px 2px hsl(0, 1%, 15%);
  flex-shrink: 0;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer i {
  margin-right: 0.8rem;
}

/* ---------- MEDIA QUERIES ----------- */

@media (min-width: 800px) {
  #main-form {
    display: flex;
    margin: 13rem 10rem 0;
  }

  #main-form form {
    width: 50%;
  }

  footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
