header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.2em;
  padding-right: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  box-shadow: 0px 0px 5px rgb(71, 71, 71);
}

header ul li {
  display: inline;
  margin: 5vw;
  font-size: clamp(1.2rem, 1.2vw, 2rem);
}

header a {
  text-decoration: none;
  color: rgb(68, 66, 66);
}

header a:active {
  color: #d87639;
}
